
/*Owned by Lyche.l! Team Copyrighted content under WEBOPL | Any unauthorized  copies is neglected*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Borel&family=Cinzel+Decorative&family=Comfortaa:wght@300;400;500;600;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Parisienne&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Sacramento&family=Silkscreen:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Unbounded:wght@200;300;400;500;600;700;800;900&family=VT323&family=Pixelify+Sans:wght@400;500&display=swap');

::-webkit-scrollbar {width: 5px;height: 8px;}::-webkit-scrollbar-­corner {background: none;} ::-webkit-scrollbar-­thumb {background: #ffffff;}::-webkit-scrollbar-­track {background-color: transparent;}body {margin: 0px;user-zoom: none;background-color: white;color: back;}  * {line-height: 1.3em; word-break: break-all;word-wrap: break-word;margin:0px;border: 0px;outline: none;user-select: none;border-radius: 0px;border-style: none;font-family: 'Helvetica', sans-serif;text-decoration: none;text-rendering: optimizeLegibility;text-transform: none;font-family: 'Helvetica', sans-serif;outline:0px;--red: #ff455b; --blue:2860F2;--yell:#ffe24f;--prim:#48cf8b;--black:#010101;--white:#f2f2f2;--mate:#e5e5e5;--grey: #505050;--dark:#303040;--navi:#202030;--pink:#ffb2ab;--vio:#b496ff;} 

[w] {color: var(--white);} [wbg] {background-color: var(--white);} [wol] {outline: var(--white) solid 1.5px;} [wsh] {box-shadow: 2.5px 2.5px 0px 2px var(--white);}

[b] {color:var(--black);} [bbg] {background-color:var(--black);} [bol] {outline: var(--black) solid 1.5px;} [bsh] {box-shadow: 2.5px 2.5px 0px 2px var(--black );}

[s] {color:var(--grey);} [sbg] {background-color:var(--grey);} [sol] {outline: var(--grey) solid 1.5px;} [ssh] {box-shadow: 2.5px 2.5px 0px 2px var(--grey );}

[d] {color: var(--dark);} [dbg] {background-color: var(--dark); } [dol] {outline: var(--dark) solid 1.5px;} [dsh] {box-shadow: 2.5px 2.5px 0px 2px var(--dark); }

[n] {color: var(--navi); } [nbg] {background-color: var(--navi);} [nol] {outline: var(--navi) solid 1.5px;} [nsh] {box-shadow: 2.5px 2.5px 0px 2px var(--navi);}

[m] {color: var(--mate);} [mbg] {background-color: var(--mate);} [mol] {outline: var(--mate) solid 1.5px;} [msh] {box-shadow: 2.5px 2.5px 0px 2px var(--mate);}

[r] {color:var(--red);} [rbg] {background-color:var(--red);}[rol] {outline: var(--red) solid 1.5px;}.rsh {box-shadow: 2.5px 2.5px 0px 2px var(--red);}

[y] {color:var(--yell);} [ybg] {background-color:var(--yell);} [yol] {outline:var(--yell) solid 1.5px;} [ysh] {box-shadow: 2.5px 2.5px 0px 2px var(--yell );}

[l] {color:var(--blue);} [lbg] {background-color:var(--blue);} [lol] {outline:var(--blue) solid 1.5px;} [lsh] {box-shadow: 2.5px 2.5px 0px 2px var(--blue );}

[g] {color:var(--prim);}[gbg] {background-color:var(--prim);} [gol] {outline:var(--prim) solid 1.5px;} [gsh] {box-shadow: 2.5px 2.5px 0px 2px var(--prim );}

[p] {color:var(--pink);} [pbg] {background-color:var(--pink);} [pol] {outline:var(--pink) solid 1.5px;} [psh] {box-shadow: 2.5px 2.5px 0px 2px var(--pink );}

[v] {color:var(--vio);} [vbg] {background-color:var(--vio);} [vol] {outline:var(--vio) solid 1.5px;} [vsh] {box-shadow: 2.5px 2.5px 0px 2px var(--vio);}

/*#################################
#################################*/
[grid] {gap:5px;display: grid;justify-content: center;place-content: center;gap: 9px;grid-template-columns: 2.5fr;grid-auto-rows: max-content;}
[grid="2"] {display: grid; justify-content: center;place-content: center;gap: 5px;grid-template-columns: 1.23fr 1.23fr; grid-auto-rows: max-content;}
[grid="3"] {display: grid; justify-content: center;place-content: center;gap:5px;grid-template-columns: 0.8fr 0.8fr 0.8fr; grid-auto-rows: max-content;}
[grid="4"] {display: grid; justify-content: center;place-content: center;gap: 5px;grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr; grid-auto-rows: max-content;}

[layer="-1"] {z-index: -1;} [layer="0"] {z-index: 0;}
[layer="1" ] {z-index: 1;}  [layer="2"] {z-index: 2;}
[layer="3" ] {z-index: 3;} 
                                         
bg {z-index: -1;top:0;left:0;right:0;bottom:0;position:fixed;display:block;}

screen {z-index: 1;top:0;left:0;right:0;bottom:0;position:fixed;display:block;}

screen#logo {top: 0px;right: 0px;left: 0px;bottom: 0px;width: 0%;height: 0%;z-index: 0;position: fixed;font-size: .3in;size: 0%;animation: logoscreen 2s;opacity: 0%;display: grid;place-content: center;justify-content: center;flex-wrap: wrap;overflow-y: scroll;}screen#logo * {display: grid;place-content: center;justify-content: center;flex-wrap: wrap;z-index: 4;}@keyframes logoscreen {0%,50%{z-index: 4;width: auto;height: auto;opacity: 100%;size: auto;}100% {z-index: 4;width: auto;height: auto;opacity: 0%;size: auto;}}

overlay {z-index: 2;top:0;left:0;right:0;bottom:0;position:fixed;display:block;}

[bdr="0"] {border-radius:0;}
[bdr="10"] {border-radius:10px;}
[bdr="15"] {border-radius:15px;}
[bdr="25"] {border-radius:25px;}
[bdr="50"] {border-radius:50px;}
[bdr="100"] {border-radius:100px;}

[flip] {transform: rotate(180deg);}
[rotate] {transform: rotate(90deg);}
p[rotate]{transform: rotate(90deg), translateX(0.025em);}

/*#################################
#################################*/

cont { padding: 10vh 10vw; display: grid;gap:9px;justify-content: center;place-items: center;flex-wrap: wrap;gap: .1fr; } cont cont {border-radius: 10px;} 
cont[mid] { padding: 25vh 10vw;}
cont[big] { padding: 35vh 10vw;}
cont[xl]  { padding: 55vh 10vw;}
    
cont [type="card"] { height: 6em; max-height: 6em;  min-width: 4em; max-width: 4em; }
cont[head] { position:fixed; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px); border-radius:0; left:0;right:0;top:0;}
cont[foot] { position:fixed; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.4px);
-webkit-backdrop-filter: blur(5.4px); border-radius:0; left:0;right:0;bottom:0;}

cont[island]{margin:10px; border-radius:10px;}

cont[wbg][lid] {
backdrop-filter: blur(23px) saturate(86%);
    -webkit-backdrop-filter: blur(23px) saturate(86%);
    background-color: rgba(242, 242, 242, 0.25);
    
}

cont[bbg][lid] {
backdrop-filter: blur(23px) saturate(86%);
    -webkit-backdrop-filter: blur(23px) saturate(86%);
    background-color: rgba(1, 1, 1, 0.25);
}


cont[snap], cont[head][snap], cont[foot][snap] {position:sticky;}

cont[hover="opacity"] { transition: opacity 0.5s; }
cont[hover="opacity"]:hover { transition: opacity 0.5s; opacity:50%;}

cont[hover="grow"] { transition: size 0.5s; }
cont[hover="grow"]:hover { transition: size 0.5s; size:50%;}

p[hover="opacity"] { transition: opacity 0.5s; }
p[hover="opacity"]:hover { transition: opacity 0.5s; opacity:50%;}

p[growHover] { transition: font-size 0.5s; }
p[growHover]:hover { font-size:10em;}

i[small] {font-size:14px;}
i {font-size:16px;}
i[mid] {font-size:24px}
i[big]{font-size:36px;}
i[xl]{font-size:42px;}
i[xxl]{font-size:80px;}
i[xbig]{font-size:120px;}

span[small] {font-size:14px;}
span {font-size:16px;}
span[mid] {font-size:24px}
span[big]{font-size:36px;}
span[xl]{font-size:42px;}
span[xxl]{font-size:80px;}
span[xbig]{font-size:120px;}
 
p[small] {font-size:14px;}
p {font-size:16px;}
p[mid] {font-size:24px}
p[big]{font-size:36px;}
p[xl]{font-size:42px;}
p[xxl]{font-size:80px;}
p[xbig]{font-size:120px;}

[hel] {font-family: 'Helvetica', sans-serif;}
[mono] {font-family: monospace;}

p[caps] {text-transform: capitalize;}
p[italic] {font-style: italic;}
p[bold] {font-weight: 700;}
p[light] {font-weight: lighter;}

img {width:18em;height:auto;max-width:18em;}
img[icon] {width:3em; border-radius:50%; height:auto;}
img[avatar] {width:8em; border-radius:25px; height:auto;}

/*#################################
#################################*/

[amatic],[amatic] * { font-family: 'Amatic SC', cursive; }

[borel],[borel] *{ font-family: 'Borel', cursive; }

[cinzel],[cinzel] * { font-family: 'Cinzel Decorative', cursive; }

[comfort],[comfortaa], [comfort] *,[comfortaa] * {font-family: 'Comfortaa', cursive; }

[ibm] ,[ibm] *{ font-family: 'IBM Plex Mono', monospace; }

[lora] ,[lora] *{ font-family: 'Lora', serif; }

[mont],[montserrat],[mont] *,[montserrat] * {font-family: 'Montserrat', sans-serif};

[pari],[parisienne],[pari] *,[parisienne] * { font-family: 'Parisienne', cursive; }

[play],[playfair],[play] *,[playfair] * {font-family: 'Playfair Display', serif; }

[pop],[poppins],[pop] *,[poppins] *{font-family: 'Poppins', sans-serif;}

[press],[press] *{font-family: 'Press Start 2P', cursive;}

[prompt] , [prompt] * { font-family: 'Prompt', sans-serif; }

[quick] , [quick] *{ font-family: 'Quicksand', sans-serif; }

[sacra],[sacramento], [sacra] *,[sacramento] * { font-family: 'Sacramento', cursive; }
[silk] , [silkscreen],[silk] *,[silkscreen] * { font-family: 'Silkscreen', cursive; }

[spacemono],[spacemono] * {font-family: 'Space Mono', monospace;}

[unbound] {font-family: 'Unbounded', cursive;}

[vt323],[vt],[vt323] *,[vt] * { font-family: 'VT323', monospace;}

[pixel],[pixel] * { font-family: 'Pixelify Sans', sans-serif; }

/*#################################
#################################*/

[neu="out"],[neu]{transition: outline, box-shadow,0.5s; outline: rgba(225,225,225,0.25) solid 2.5px; box-shadow:  inset -4px -4px 5px rgba(0,0,0,0.25), inset 4px 4px 5px rgba(255,255,255,0.25) , 4px 4px 6px rgba(0,0,0,0.25);}
[neu="in"],[neu="out"]:hover,[neu="out"]:active{transition: outline, box-shadow, 0.5s; outline: rgba(0,0,0,0.15) solid 0.5px; box-shadow: inset 4px 4px 5px rgba(0,0,0,0.25),  inset -4px -4px 5px rgba(255,255,255,0.25);} [neu="in"] *, [neu="out"]:hover *, [neu="out"]:active * { opacity:75%;} 

 [px="out"], [px]{border-radius:0px;transition: outline, box-shadow,0.5s; outline: rgba(225,225,225,0.25) solid 2.5px; box-shadow:  inset -4px -4px 1px rgba(0,0,0,0.25), inset 4px 4px 1px rgba(255,255,255,0.25) , 4px 4px 1px rgba(0,0,0,0.25);}
[px="in"],[px="out"]:hover,[px="out"]:active{transition: outline, box-shadow, 0.5s; outline: rgba(0,0,0,0.15) solid 0.5px; box-shadow: inset 4px 4px 1px rgba(0,0,0,0.25),  inset -4px -4px 1px rgba(255,255,255,0.25);} [px="in"] *, [px="out"]:hover *, [px="out"]active * { opacity:80%;}
